<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>986493600408-vphb10n89bi60ul0151tmn6pbnrq2pb5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.986493600408-vphb10n89bi60ul0151tmn6pbnrq2pb5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>986493600408-19kp10qkp3pd470pv9jl9c9nl7kfj4md.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBENbAIdejX2pqOVh7XjMUPfScS2lX_EpY</string>
	<key>GCM_SENDER_ID</key>
	<string>986493600408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.ootopia.beta2</string>
	<key>PROJECT_ID</key>
	<string>ootopia-e8c63</string>
	<key>STORAGE_BUCKET</key>
	<string>ootopia-e8c63.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:986493600408:ios:404fb12eb1586887ec06ed</string>
</dict>
</plist>